# Ambiente virtual
venv/
.venv/

# Cache Python
__pycache__/
*.py[cod]

# Arquivos de ambiente
.env

# Logs
*.log

# VS Code
.vscode/

# Sistema operacional
.DS_Store
# Banco de dados (SQLite)
*.sqlite3
*.db

# Pasta de desenvolvimento
.gemini/
.agent/
